USE [master]
GO
/****** Object:  Database [StillnessContext]    Script Date: 24.06.2025 23:09:39 ******/
CREATE DATABASE [StillnessContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StillnessContext', FILENAME = N'C:\Users\sered\StillnessContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StillnessContext_log', FILENAME = N'C:\Users\sered\StillnessContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StillnessContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StillnessContext]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24.06.2025 23:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 24.06.2025 23:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Filename] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Filepath] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Pictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24.06.2025 23:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nickname] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250620182344_Init', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250620190800_ChangeUserModel', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250620193459_ChangeUserModel1.2', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[Pictures] ON 

INSERT [dbo].[Pictures] ([Id], [UserId], [Filename], [Description], [Filepath], [CreatedAt]) VALUES (1, 1, N'20250624142546250547_psnet.jpg', N'Old PSNet logo', N'images/20250624142546250547_psnet.jpg', CAST(N'2025-06-24T14:25:46.2565344' AS DateTime2))
INSERT [dbo].[Pictures] ([Id], [UserId], [Filename], [Description], [Filepath], [CreatedAt]) VALUES (3, 1, N'20250624155320549847_mbjp.jpg', N'Japanese limited Malboro Black', N'images/20250624155320549847_mbjp.jpg', CAST(N'2025-06-24T15:53:20.5530367' AS DateTime2))
INSERT [dbo].[Pictures] ([Id], [UserId], [Filename], [Description], [Filepath], [CreatedAt]) VALUES (4, 1, N'20250624160322789263_chearts.jpg', N'Rare chorme hearts Rubick`s Cubick', N'images/20250624160322789263_chearts.jpg', CAST(N'2025-06-24T16:03:22.7933921' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Pictures] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (N'') FOR [Avatar]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (N'') FOR [Password]
GO
USE [master]
GO
